.footer {
  background-color: #0f0f0f;
  height: 100px;
  color: white;
  width: 100%;
  border-top: 1px solid #3cc96b;
}
.footer .footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  height: 100%;
  align-items: center;
  font-weight: 100;
}
.footer .footer-container .socials {
  display: flex;
}
.footer .footer-container .socials .social-link {
  margin: 0 0.5rem;
}
.footer .footer-container .socials .social-link svg {
  width: 20px;
  height: 20px;
}