.gallery,
.videos {
  column-count: 3;
  column-width: 33%;
  padding: 0 12px;
  margin: 0 10rem;
}
.video {
  position: relative;
  margin-bottom: 1rem;
}
.gallery-heading {
  color: white;
  font-family: "Reyhans";
  font-size: 40px;
  padding: 2rem 0;
  margin: 0;
}
.thumbnail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  cursor: pointer;
}
.thumbnail-overlay:hover {
  background-color: rgba(0, 0, 0, 0);
}
.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 40px;
  height: 40px;
}
.gallery-vid {
  width: 100%;
  height: 20%;
}
.gallery-image {
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 1rem;
}
.gallery-image:hover {
  transform: scale(1.05);
}
.gallery-page {
  background-color: #5a5a5a;
}

.filterButton {
  color: white;
  padding: 0.75rem 1.25rem;
  background-color: #3cc96b;
  border: none;
  border-radius: 4px;
  margin: 2rem 1rem;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

.inactive {
  background-color: transparent;
  border: 1px solid #3cc96b;
  color: #3cc96b;
}

@media (max-width: 801px) {
  .gallery {
    column-count: 1;
    column-width: 95%;
    margin: 1rem;
  }
  .filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .filterButton {
    margin: 1rem;
  }
}
