.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.modal-container .modal-image {
  width: 50%;
  height: auto;
}
.modal-container .button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #3cc96b;
  border: 2px solid #3cc96b;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  margin: 2rem;
  font-family: "Ubuntu", sans-serif;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
.modal-container .button:hover {
  background-color: #3cc96b;
  color: white;
}
.modal-container .mobile-btns {
  display: none;
}

.video-modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.video-modal-container .modal-image {
  width: 50%;
  height: auto;
}
.video-modal-container .button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #3cc96b;
  border: 2px solid #3cc96b;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  margin: 2rem;
  font-family: "Ubuntu", sans-serif;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
.video-modal-container .button:hover {
  background-color: #3cc96b;
  color: white;
}
.video-modal-container .mobile-btns {
  display: none;
}

@media (max-width: 801px) {
  .modal-container {
    flex-direction: column;
  }
  .videos {
    column-count: 1 !important;
    margin: 0 1rem !important;
  }
  .modal-image {
    width: 80% !important;
  }
  .modal-video {
    width: 95% !important;
  }
  .button {
    display: none;
  }
  .mobile-btns {
    display: block !important;
  }
  .mobile-btns button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: #3cc96b;
    border: 2px solid #3cc96b;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    margin: 2rem;
    font-family: "Ubuntu", sans-serif;
    width: 50px;
    height: 50px;
    transition: 0.3s;
  }
}