.navbar-container {
  background-color: #0f0f0f;
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 10rem;
  font-family: "Ubuntu", sans-serif;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo-link {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-link:hover path {
  stroke: white;
  stroke-width: 5px;
  fill: none;
}
.logo-link path {
  transition: all 0.3s ease-in-out;
}
.navbar-logo {
  height: 100%;
  width: 100%;
  margin-right: 42px;
}
.navbar-link {
  margin-right: 42px;
  padding: 0.5rem 0.5rem;
  display: block;
}

.navbar-links {
  display: flex;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}
.navbar-container ul li a {
  position: relative;
  z-index: 1;
}
.navbar-container ul li a:hover {
  color: #fff;
}
.navbar-container ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #3cc96b;
  visibility: none;
  border-radius: 3px;
  opacity: 0;
  z-index: -1;
}
.navbar-container ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.logo-link-mobile-navbar,
.logo-link-mobile,
.navbar-links-mobile,
.hamburger {
  display: none;
}
.navbar-mobile {
  transform: translateX(100vw);
}
.mobile {
  z-index: 1000000;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: #0f0f0f;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.close,
.hamburger {
  display: none;
}

@media (max-width: 801px) {
  .navbar-links {
    display: none;
  }
  .mobile .navbar-links {
    display: flex;
  }
  .hamburger {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile .hamburger {
    display: none;
  }
  .mobile .logo-link-mobile-navbar {
    display: block;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile .logo-link-mobile-navbar svg {
    height: 50%;
    width: 50%;
  }
  .mobileOpen {
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 20px;
    height: 20px;
  }

  .open {
    transform: translateX(0);
  }
  .logo-link {
    display: none;
  }
  .logo-link-mobile {
    display: block;
    height: 20%;
  }
  .logo-link-mobile-navbar {
    display: block;
    height: 80%;
  }
  .navbar-container {
    justify-content: space-between;
    padding: 0 40px;
  }
  .mobile {
    justify-content: center;
  }
  .navbar-mobile {
    z-index: 1000000;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .navbar-mobile svg {
    height: 70%;
    width: 70%;
  }
  .logo-link-mobile-navbar svg {
    height: 100%;
  }
  .mobile .navbar-links {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .mobile .navbar-links a {
    margin: 2rem 0;
    padding: 0;
    font-size: 20px;
  }

  .closeline {
    position: absolute;
    transform: rotate(40deg);
  }
  .closeline:last-child {
    transform: rotate(315deg);
  }
  .line {
    height: 2px;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    background-color: #fff;
  }
}
