.about-hero-section {
  background: url("../../public/about-hero.jpg") center right/20% no-repeat;
  background-position-x: calc(100% - 30%);
  height: 40vh;
  background-color: #010101;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  .hero-heading {
    color: white;
    font-size: 50px;
    transform: translateX(-50%);
    font-weight: 200;
  }
}
.about-companies-section {
  background-color: #484848;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    margin: 0;
    padding: 0;
  }
  h2 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    color: white;
  }
  .brands {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.about-info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: #0f0f0f;
  color: white;
  h2 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 1rem;
  }
  .columns {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
      width: 25%;
      height: 100%;
    }
  }
  .content {
    display: grid;
    width: 80%;
    padding: 1rem;
    background-color: #4e6e58;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    border-radius: 6px;
    margin: 1rem;
    .column p {
      text-align: center;
    }
    .column {
      padding: 1rem;
      border-left: 2px solid #0f0f0f;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-left: 2px solid #0f0f0f;
        border-right: none;
      }
    }
    p {
      font-weight: 200;
      text-align: left;
    }
  }
}

@media (max-width: 801px) {
  .about-hero-section {
    background: url("../../public/about-hero.jpg") center right/cover no-repeat;
    background-position-y: calc(100% - 80%);
    .hero-heading {
      font-size: 30px;
      text-align: center;
      transform: translateX(0);
    }
  }
  .about-info-section {
    flex-direction: column;
    .columns {
      flex-direction: column;
      img {
        width: 100%;
      }
    }
    .content {
      flex-direction: column;
      padding: 1rem;
      margin: 1rem 0;
      .column:last-child {
        border-top: 1px solid #3cc96b;
        padding-top: 1rem;
        border-left: none;
      }
      .column {
        border-left: none;
      }
    }
  }
}
