@font-face {
  font-family: "Reyhans";
  src: url("../fonts/reyhans.regular.woff");
}

.hero-section {
  position: relative;
  height: 440px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/photos/sports/s7.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}
.hero-text {
  letter-spacing: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  margin-bottom: 6rem;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 1050px) {
  .hero-text {
    letter-spacing: 20px;
  }
}
$button_min_height: 30;
$button_min_width: 150;
$button_border_size: 15;
$button_font_size: 20;
$button_padding: 12px 20px;
$button_text_color: #fff;
$button_border_color: #fff;
$button_hover_text_color: #fff;
$button_hover_border_color: #fff;
$button_line_height: $button_min_height;

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");

.hero-cta,
.hero-cta span {
  &:before,
  &:after {
    display: block;
    content: "";
    width: #{$button_border_size}px;
    height: #{$button_border_size}px;
    position: absolute;
  }
}

.hero-cta {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: #{$button_font_size}px;
  position: relative;
  min-width: #{$button_min_width}px;
  min-height: #{$button_min_height}px;
  margin: 20px;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: $button_text_color;
  padding: #{$button_padding};
  box-sizing: content-box;
  border: 2px solid transparent;
  text-align: center;
  line-height: #{$button_line_height}px;
  transition: 0.5s color;
  &:before {
    top: -2px;
    left: -2px;
    border-top: 2px solid $button_border_color;
    border-left: 2px solid $button_border_color;
    transition: 0.5s all;
  }
  &:after {
    top: -2px;
    right: -2px;
    border-top: 2px solid $button_border_color;
    border-right: 2px solid $button_border_color;
    transition: 0.5s all;
  }
  span {
    display: block;
    &:before {
      bottom: -2px;
      left: -2px;
      border-bottom: 2px solid $button_border_color;
      border-left: 2px solid $button_border_color;
      transition: 0.5s all;
    }
    &:after {
      bottom: -2px;
      right: -2px;
      border-bottom: 2px solid $button_border_color;
      border-right: 2px solid $button_border_color;
      transition: 0.5s all;
    }
  }
  &:hover {
    color: $button_hover_text_color;
    &:before,
    &:after {
      border-color: $button_hover_border_color;
      width: 100%;
      height: 100%;
    }
    span {
      &:before,
      &:after {
        border-color: $button_hover_border_color;
        width: 100%;
        height: 100%;
      }
    }
  }
}

button:hover span::before,
button:hover span::after {
  width: 50px;
  height: 50px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: -1;
}

.tagged-posts {
  display: flex;
}

.info-section {
  height: 90vh;
  background: url("../img/photos/creativelighting/cl2.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  .info-section-content {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    .pat-smiling {
      width: auto;
      height: 100%;
    }
    .info {
      background-color: #4e6e58;
      height: 100%;
      width: 35%;
      padding: 0 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .about-heading {
        font-family: "Reyhans", "Ubuntu", sans-serif;
        color: white;
        font-size: 60px;
        margin: 0;
      }
    }
    .contact-btn {
      background-color: #3cc96b;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      font-family: "Ubuntu", sans-serif;
      color: white;
      border: none;
      cursor: pointer;
    }
    p {
      color: white;
    }
  }
}
.tagged-section {
  background-color: #0f0f0f;
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #0f0f0f 10px
    ),
    repeating-linear-gradient(#25252555, #252525);
  padding: 2rem 0;
  .tagged {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tagged-header {
    font-size: 48px;
    padding: 2rem 0;
  }
  .tagged-posts {
    width: 100%;
    margin: 0 5rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
  }
  .post {
    margin: auto 1rem;
  }
  h1 {
    margin: 0;
    font-family: "Reyhans", "Ubuntu", sans-serif;
    color: white;
  }
}

.videos-section {
  height: 80vh;
}

@media (max-width: 801px) {
  .hero-section {
    .hero-text {
      letter-spacing: normal;
    }
  }
  .videos-section {
    width: 100%;
    position: relative;
    &:before {
      position: absolute;
      white-space: nowrap;
      content: "Drag Sideways to View My Videos";
      font-family: "Ubuntu" sans-serif;
      color: white;
      top: 20px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    background-color: #0f0f0f;
    .video-carousel {
      width: 100%;
      .videos-container {
        width: 100%;
      }
    }
  }
  .info-section {
    padding: 2rem 0;
    height: auto;
    .info-section-content {
      flex-direction: column;
      width: 100%;
      padding: 0 !important;

      img,
      .info {
        width: 100%;
      }
      .info {
        width: 80%;
        margin-top: 1rem;
        padding: 2rem;
      }
      .pat-smiling {
        width: 80%;
        height: auto;
      }
    }
  }
  .tagged-section {
    .tagged-posts {
      grid-template-columns: 1fr;
      margin: 0;
      overflow-y: scroll;
      height: 25%;
      width: 80%;
    }
  }
}
